<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login-passportjs</title>
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="container">
            <!-- the nav bar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Login System</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/users/register">Register</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- flash message area -->
            <div class="row">
                {{#if success_msg}}
                    <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}
                {{#if error_msg}}
                    <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}
                {{#if error}}
                    <div class="alert alert-success">{{error}}</div>
                {{/if}}
            </div>

             <!-- main content -->
            <div class="jumbotron">
                {{{body}}}
            </div>

            <!-- the foot -->
            <footer class="footer">
                <p>&copy; 2017 lngka, Inc.</p>
            </footer>
        </div> <!-- /container -->
        <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
    </body>
</html>
